<<<<<<< HEAD
body{background-color: #e3e3e3;
font-family: sans-serif;}
#first
{
width:800px;
margin:auto;

}
blockquote
{
border:1px white solid;
text-align: center;
margin-left:0;
}
=======
body{background-color: #e3e3e3;
font-family: sans-serif;}
#first
{
width:800px;
margin:auto;

}
blockquote
{
border:1px white solid;
text-align: center;
margin-left:0;
}
>>>>>>> dc525640bd248c3f68b673ab290f07e82367e1b4
